.kipukalenteri {
  /* width: 1500px; */
  margin: auto;
  background-color: rgb(250, 248, 248);
}

.navbarOma {
  background-color: rgb(57, 62, 119);
  /* width: 1500px; */
  border-radius: 3px;
}

.neg {
  color: rgb(179, 152, 138);
  background: rgb(247, 246, 246);
  font-size: 18px;
  font-weight: bold;
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 70%;
  margin-left: 15%;
}

.pos {
  color: rgb(125, 156, 140);
  background: rgb(247, 246, 246);
  font-size: 18px;
  font-weight: bold;
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 70%;
  margin-left: 15%;
}

.nappi1 {
  border-radius: 5px;
  /* margin-left: 10px; */
  margin-top: 5px;
  font-size: 18px;
  background-color: rgb(70, 77, 146);
  color: white;
}

.nappi {
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 5px;
  font-size: 18px;
  background-color: rgb(57, 62, 119);
  color: white;
}

.nappi2 {
  border-radius: 5px;
  margin-left: 5px;
  font-size: 18px;
  background-color: rgb(163, 71, 55);
  color: white;
}

.nappi3 {
  border-radius: 5px;
  margin-left: 4px;
  font-size: 18px;
  background-color: rgb(45, 143, 92);
  color: white;
}

.nappi4 {
  border-radius: 5px;
  margin-left: 2px;
  margin-top: 5px;
  /* font-size: 18px; */
  background-color: rgb(70, 77, 146);
  color: white;
}

.notepage {
  width: 85%;
  margin: 10px;
  font-size: 16px;
}

.notetext {
  font-size: 16px;
}

.suodatin {
  border-radius: 5px;
  font-size: 16px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin: 5px;
  margin-left: 10px;
  background-color: rgb(250, 248, 248);;
  border-color: navy;
  color: navy;
  width: 190px;
}

.otsikko {
  font-size: 22px;
  padding-top: 5px;
  margin-left: 10px;
  color: navy;
}

.lisatiedot {
  background-color: rgb(212, 214, 228);
  border-style: solid;
  border-width: 1px;
  border-color: navy;
  width:65%;
  margin: 10px;
  border-radius: 15px;
  font-size: 15px;
}

.showMore {
  margin: 10px;
}

.lomake {
  margin-left: 15%;
  padding-top: 10px;
}

.locationselect {
  width: 80%;
}

.logged-in {
  padding-left: 10px;
  font-size: 13px;
}

form {
  margin-left: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: navy;
  padding-bottom: 8px;
  padding-top: 8px;
  width: 280px;
  background: rgb(212, 214, 228);
  border-radius: 7px;
}

input {
  display: block;
  height: 30px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;

}



