.kipukalenteri {
  width: 1500px;
  margin: auto;
  background-color: rgb(250, 248, 248);
}

.navbarOma {
  /* background-color: rgb(104, 124, 170); */
  background-color: rgb(57, 62, 119);
  width: 1500px;
  border-radius: 3px;
}

/* .Link:hover {
  color: blue;
} */

.neg {
  color: rgb(179, 152, 138);
  background: rgb(247, 246, 246);
  font-size: 18px;
  font-weight: bold;
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 70%;
  margin-left: 15%;
}

.pos {
  color: rgb(125, 156, 140);
  background: rgb(247, 246, 246);
  font-size: 18px;
  font-weight: bold;
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 70%;
  margin-left: 15%;
}

.nappi {
  border-radius: 5px;
  margin-left: 10px;
  font-size: 18px;
  background-color: rgb(70, 77, 146);
  color: white;
}

.nappi2 {
  border-radius: 5px;
  margin-left: 5px;
  font-size: 18px;
  background-color: rgb(163, 71, 55);
  color: white;
}

.nappi3 {
  border-radius: 5px;
  margin-left: 5px;
  font-size: 18px;
  background-color: rgb(45, 143, 92);
  color: white;
}

.notepage {
  width: 85%;
  margin: 10px;
  font-size: 20px;
}

.notetext {
  font-size: 16px;
}

.suodatin {
  border-radius: 5px;
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 10px;
  background-color: rgb(250, 248, 248);;
  border-color: navy;
  color: navy;
}

/* h1 {
  text-align: left;
  margin-right: 10px;
  margin-left: 10px;
} */

.otsikko {
  font-size: 26px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 10px;
  color: navy;
}

.lisatiedot {
  background-color: rgb(212, 214, 228);
  border-style: solid;
  border-width: 1px;
  border-color: navy;
  width:65%;
  margin: 10px;
  border-radius: 15px;
}

.showMore {
  margin: 10px;
}

.lomake {
  margin-left: 30%;
}

form {
  margin-left: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: navy;
  padding-bottom: 8px;
  padding-top: 8px;
  width: 60%;
  background: rgb(212, 214, 228);
  border-radius: 7px;
}

input {
  display: block;
  height: 30px;
  width: 60%;
  /* margin-left: 10px;
  margin-bottom: 6px; */
  margin-left: auto;
  margin-right: auto;
  padding: 10px;

}

.locationselect {
  width: 60%;
}




/* vanhat */


/* h3 {
  text-align: left;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 5px;
} */

/* h1 {
  text-align: left;
  margin-right: 10px;
  margin-left: 10px;
} */

/* .notepage {
  width: 85%;
  margin: 10px;
  font-size: 20px;
} */

/* .otsikko {
  font-size: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 10px;
} */

/* .suodatin {
  font-size: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 10px;
} */

/* .nappi {
  border-radius: 10px;
  margin-left: 10px;
  font-size: 18px;
  background-color: rgb(134, 133, 182);
  color: white;
} */

/* .navbarOma {
  background-color: rgb(162, 187, 174);
  width: 100%;
} */

  /* .showMore {
    margin: 10px;
  } */

 
  /* form {
    margin-left: 20%;
    border-style: solid;
    border-color: rgb(155, 196, 174);
    padding-bottom: 8px;
    padding-top: 8px;
    width: 60%;
    background: rgb(155, 196, 174);
    border-radius: 7px;
  } */

  /* input {
    height: 30px;
    width: 50%;
    margin-bottom: 6px;
  } */






  /* .homepage-header-bg {
    padding: 8%, 8%, 8%, 8%;
    margin-top: 7%;
    font-size: 40px;
    width: 100%;
    background-color: red;
    color: white;
  }  */

  /* LoginFormin muotoilut */

  /* .login-form {
    width: 30%;
    height: 70px;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    margin-left: 60%;
  }

  .login-input {
    font-size: 14px;
    height: 18px;
    margin-left: 3px;
  }

  .login-button {
    margin-left: 4px;
    background-color:rgb(125, 156, 140);
    border-radius:9px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:14px;
    padding:1px 8px;
    text-decoration:none;
    }

  .cancel-button {
    margin-left: 2px;
    background-color: rgb(228, 173, 135);
    border-radius:9px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:14px;
    padding:1px 5px;
    text-decoration:none;
    }

  .käyttäjä-tieto {
    margin-left: 15%;
    color: yellow;
    min-width: 300px;
    font-size: 14px;
   } */
